<div class="footer-wrapper">

    <footer id="footer" class="container main inner flex flex-1 flex-col focus:outline-none bg-gray-900">

        <div class="footer-inner container m-auto md:flex justify-between items-center py-10">

            <p class="text-white pb-8 md:pb-0"> Thanks for visiting! ✨ </p>
            
             <p class="text-white pb-8 md:pb-0"> Built in 2020 Lockdown 🔒 </p>

        </div>

    </footer>

</div>
