
        <h4 class="text-04 uppercase font-semibold mt-5 mb-8 lg:mb-12 glitch" data-text="00 — About">
        03 — The Internet Realm
        </h4>

        <p class="text-2xl lg:text-4xl my-8 md:my-10 reveal" data-sr-id="0" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.15s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0.15s;">
      You may have seen me on 
      <a href="https://Deputy.com/" target="_blank" rel="noopener" class="glitch">CoderStory</a>,
    </p>

    <p class="text-02 text-lg lg:text-xl mt-3 mb-8 max-w-2xl reveal" data-sr-id="2" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.15s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0.15s;">
      A highly analytical and process-oriented Data Analyst with over 2 years industry experience in data analysis and interpretation, process-improvement and data visualisation. 

    </p>
