<p class="text-02 text-md lg:text-lg mt-3 mb-8 text-gray-600">
    When I'm not working the day job or spending time with the family, I'm usually found building something new. Here's
    some of the deployed projects:
</p>

{# CoderStory #}

<div class="relative lg:flex rounded-lg shadow-2xl overflow-hidden mb-10">
    <div class="h-56 lg:h-auto lg:w-5/12 relative flex items-center justify-center">
        <img class="absolute h-full w-full object-cover" src="images/internet/coding.png" alt="" />
        {# CS Logo #}
        <div class="absolute inset-0 bg-gray-900 opacity-75"></div>
        <img class="absolute" src="images/internet/coderstory.png" alt="" />
    </div>
    <div class="relative lg:w-7/12 bg-white">
        <svg class="absolute h-full text-white w-24 -ml-12" fill="currentColor" viewBox="0 0 100 100"
            preserveAspectRatio="none">
            <polygon points="50,0 100,0 50,100 0,100" />
        </svg>
        <div class="relative py-12 lg:py-24 px-8 lg:px-16 text-gray-700 leading-relaxed">
            <p>
                As <strong class="text-gray-900 font-medium">CoderStory</strong> is a platform to share your story and
                learn from the creator community around you. We want to create conversations that will not only provide
                knowledge and support for the makers of today, but for those who want to be inspired as the creators of
                tomorrow.
            </p>
            <p class="mt-6">
                <a href="https://coderstory.io/" target="_blank" class="font-medium text-gray-900 hover:text-indigo-900">Learn more about the developers
                    we've had involved &rarr; </a>
            </p>
        </div>
    </div>
</div>

{# Random Elon #}

<div class="relative lg:flex rounded-lg shadow-2xl overflow-hidden">
    <div class="h-56 lg:h-auto lg:w-5/12 relative flex items-center justify-center">
        <img class="absolute h-full w-full object-cover" src="images/internet/elon.png" alt="" />
        {# RE Logo #}
        <div class="absolute inset-0 bg-gray-900 opacity-75"></div>
        <img class="absolute" src="images/internet/randomelon.png" alt="" />
    </div>
    <div class="relative lg:w-7/12 bg-white">
        <svg class="absolute h-full text-white w-24 -ml-12" fill="currentColor" viewBox="0 0 100 100"
            preserveAspectRatio="none">
            <polygon points="50,0 100,0 50,100 0,100" />
        </svg>
        <div class="relative py-12 lg:py-24 px-8 lg:px-16 text-gray-700 leading-relaxed">
            <p>
                <strong class="text-gray-900 font-medium">Random Elon</strong> was a spontaenous and fun side project that <a href="https://peterthaleikis.com/" target="_blank">Peter</a> and I spun up in 60 minutes one evening back in 2019. 
            </p>
            <p class="mt-6">
                <a href="https://randomelon.peterthaleikis.com/" target="_blank" class="font-medium text-gray-900 hover:text-indigo-900">Get your insightful quote from Elon
                    &rarr; </a>
            </p>
        </div>  
    </div>
</div>