---
layout: default
meta_title: Jess Wallace | Writing On The Wall
meta_description: Jess Wallace | Writing On The Wall
body_class: blog
title: Writing On The Wall
---

<main id="main" class=" container main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Blogs">

        <h1 class="page-title text-3xl md:text-center md:text-5xl mb-16 lg:mb-24 lg:text-5xl text-white">{{ title }}
        </h1>

        <div class="posts">

            {% for post in collections.blog %}

            <h2 class="text-xl font-bold mb-6 underline"><a class="block text-gray-200 hover:text-pink-500"
                    href="{{ post.url }}">{{ post.data.title }}</a></h2>
            <h3 class="text-sm text-gray-600">
                <time datetime="{{ post.date }}">
                    {{ post.date | dateDisplay }}
                </time>
                —
                {% for item in post.data.tags %}
                
                {%- if item != "blog" -%}
                    {{ item | capitalize }}
                {%- endif -%}

                {% endfor %}

            </h3>
            <h3 class="font-light text-gray-700">{{ post.data.excerpt }}</h3>

            {% endfor %}

        </div>

    </section>

</main>
