---
layout: default
meta_title: Jess Wallace | Data Analyst in Performance Marketing at William Hill
meta_description: A Personal Portfolio for Jess Wallace 
body_class: home
title: Home
---

<main id="main" class="main container inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">
    <div class="pb-20 lg:pb-30">
        <h4 class="text-04 uppercase font-semibold mt-5 mb-6 lg:mb-12 glitch" data-text="00 — About">
            00 — About
        </h4>

        {% include 'partials/about.njk' %}

    </div>
    <div class="pb-20 lg:pb-30">
        <h4 class="text-04 uppercase font-semibold mt-5 mb-8 lg:mb-8 glitch" data-text="00 — About">
            01 — Projects
        </h4>

        {% include 'partials/work.njk' %}

    </div>
    <div class="pb-20 lg:pb-30">
        <h4 class="text-4 uppercase font-semibold mt-16 mb-8 lg:mb-8 glitch" data-text="01 — Writing on the wall">
            02 — Writing on the Wall
        </h4>

        {% include 'partials/writing.njk' %}

    </div>

    <div class="pb-20 lg:pb-30">

        <h4 class="text-04 uppercase font-semibold mt-5 mb-6 lg:mb-12 glitch" data-text="03 — Talk">
            03 — Lets Talk
        </h4>

        <p class="text-02 text-md lg:text-lg mt-3 mb-4 text-gray-400">
            You'll find my digital breadcrumbs scattered across the internet, and likely able to find multiple ways to contact me. But here, I'll make it easy. 
            The quickest way to get a response is to reach out on <a href='https://www.twitter.com/jesswallaceuk' target="_blank">Twitter</a>, I might not post regularly but I check it multiple times through the day (probably too much..). 
            If Twitter isn't your thing, then feel free to drop me an <a href='mailto:jw@jesswallace.co' target="_blank">email</a>, I love having email penpals. 
        </p>

         <p class="text-02 text-md lg:text-lg mt-3 mb-4 text-gray-400">

         If you want to buy me a coffee (that might be spent on other drinks), then you can find my page 
            <a href='https://www.buymeacoffee.com/gP9eRzpl0' target="_blank">here.</a>

           
        </p>

        
    </div>






</main>