        <p class="text-2xl lg:text-4xl my-6 md:my-8 text-gray-100">
          Hey, nice to meet you 👋🏼. My name is Jess Wallace - a Performance Marketing Analyst at
          <a href="https://williamhillpeople.com/" target="_blank" rel="noopener"
            class="text-yellow-600 hover:text-white border-b border-yellow-600">William Hill</a> helping
          turn data into insights
        </p>